In [2]:
import pandas as pd
import numpy as np

In [3]:
#Series : 인덱싱된 1차원 배열

ser = pd.Series([0.25, 0.5, 0.75, 1.0])
print(ser)

arr = ser.values
print(arr) #numpy배열로 반환

ind = ser.index
print(ind)

print('\n')

ser = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a', 'b', 'c', 'd'])
print(ser)

ind = ser.index
print(ind)#index클래스의 객체

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)


a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [4]:
#Dictionary : <Key : Value>로 구성되는 자료구조

dict = {'a': 1, 2: 'two', 'third': True}
print(dict)

{'a': 1, 2: 'two', 'third': True}

In [8]:
#Series : Key 역할을 하는 레이블 기반 인덱스 사용
#Dictionary와 달리 슬라이싱 같은 배열 연산 지원 
population_dict = {'California': 38332521,
'Texas': 26448193,
"New York": 19651127,
'Florida': 19552860,
'Illinois': 12882135}

population = pd.Series(population_dict)

print(population['California':'New York'])

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [9]:
area_dict = {'California': 423967,'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

states = pd.DataFrame({'population': population, 'area': area})

print(states)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [15]:
print(states.index) #인덱스 레이블 접근
print(states.columns) #DataFrame열 접근

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['population', 'area'], dtype='object')

In [17]:
arr = np.random.rand(3,2)
print(arr,'\n')

pd.DataFrame(arr, columns=['foo', 'bar'], index=['a', 'b', 'c'])

[[0.67582744 0.17920447]
 [0.19944113 0.25209226]
 [0.42508208 0.49606652]]

        foo       bar
a  0.675827  0.179204
b  0.199441  0.252092
c  0.425082  0.496067

In [25]:
#Series 객체 조작 : Dictionary스타일

print(ser['b'])
print('a' in ser) #ser라는 객체 안에 a라는 Key가 있냐
print(ser.keys())

0.5
True
Index(['a', 'b', 'c', 'd'], dtype='object')

In [16]:
ser['e'] = 1,25
ser['a'] = 0.125
print(ser)

print(ser['a':'c']) #슬라이싱 
print(ser[['a', 'e']]) #팬시 인덱싱
#명시적 인덱싱 -> 마지막 인덱스 값 포함
#암묵적 인덱싱 -> 마지막 인덱스 앞 값까지 포함

a      0.125
b        0.5
c       0.75
d          1
e    (1, 25)
dtype: object
a    0.125
b      0.5
c     0.75
dtype: object
a      0.125
e    (1, 25)
dtype: object

In [21]:
#DataFrame 객체 조작 , 방법 2가지
print(states['area']) #더 활용적 
print(states.area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [25]:
#Series 객체 추가 

states['density'] = states['population'] / states['area']
print(states)

            population    area     density
California    38332521  423967   90.413926
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [42]:
#loc : '명시적' 인덱스를 참조하는 

print(ser.loc['a':'b'])

#iloc : '암묵적' 인덱스를 참조하는
print(ser.iloc[1])
print(ser.iloc[0:2])

a    0.125
b      0.5
dtype: object
0.5
a    0.125
b      0.5
dtype: object

In [27]:
#loc 인덱서: 마스킹 + 팬시 인덱싱 지원
states.loc[states.density > 100, ['population', 'density']]

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121