In [1]:
import pandas as pd
import numpy as np

In [5]:
arr1 = np.array([1, 2, None, 4]) #오브젝트 타입은 느림, 벡터화된 연산 호환 x 
print(arr1.dtype)

arr2 = np.array([1, 2, 3, 4])
print(arr2.dtype)

arr2.sum() #arr1은 오류 발생

object
int32

10

In [8]:
arr3 = np.array([1, np.nan, 3, 4])
print(arr3.dtype)
#arr3가 float타입인 이유 : np.nan이 float 타입임.
type(np.nan)

float64

float

In [9]:
np.nan + 1 #어떤 연산을 해도 계속 nan, .sum()과 같은 모든 연산이 돌아가긴 함. 오류 없음!

nan

In [10]:
np.nansum(arr3) #sum(연산)앞에 nan붙이면 nan값 제외하고 연산을 해줌.

8.0

In [14]:
#Pandas에서는 다 NaN으로 바꿔줌 -> float타입 

ser = pd.Series([1, np.nan, 2, None])
print(ser)

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [21]:
#Null값 처리를 위한 Pandas 메서드
ser = pd.Series([1, np.nan, 'hello', None])
print(ser) 

print('\n')

print(ser.isnull())#마스킹 연산
print(ser.notnull())#위의 역연산
print('\n')

0        1
1      NaN
2    hello
3     None
dtype: object


0    False
1     True
2    False
3     True
dtype: bool
0     True
1    False
2     True
3    False
dtype: bool

In [23]:
#dropna() : 널값 포함하는 행 또는 열을 삭제, 
#axis = 'rows' 행삭제, listwise deletion, 기본값이 로우라 굳이 값 안 넣어줘도 됨. 0
#axis = 'cloumns' 열삭제 1

#how 매개변수 
#how = 'any' : Null 값이 한개라도 포함된 행/열 삭제
#how = 'all' : 모든 값이 전부 Null값인 행/열 삭제

#thresh 매개변수 : 임계치를 통해 삭제될 행/열을 선택 
#삭제되지 않을 행/열의 non-null(정상적인) 값들의 최소 개수 
#df.dropna(axis='rows', thresh=3) 정상 값이 3개 이상이면 삭제 안됨. 

#fillna() : Null 값을 다른 값으로 대체

In [25]:
ser.fillna(-9999) #Null값을 -9999로

0        1
1    -9999
2    hello
3    -9999
dtype: object

In [52]:
arr = np.array([[1.0, np.nan, 2], [2.0, 3.0, 5], [np.nan, 4.0, 6]])
df = pd.DataFrame(arr, columns=[0, 1, 2], index=[0, 1, 2])

#df.dropna(axis='columns')#열 삭제 
df.dropna(axis='columns', how = 'all')#전부 널값인 열 삭제
df.dropna(axis='rows', thresh=3)

     0    1    2
1  2.0  3.0  5.0

In [26]:
ser.fillna(method='ffill')#forward-fill방식, ser.ffill()도 가능

0        1
1        1
2    hello
3    hello
dtype: object

In [27]:
ser.fillna(method='bfill')#backward-fill방식, 직후 값이 없으니까 마지막 값은 None?

0        1
1    hello
2    hello
3     None
dtype: object